// Colors

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}

.fullPageContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 60px;
	z-index: -1;
}