// Colors

#SearchBar{
	background: $black-trans;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	padding: 8px;
	text-align: center;

	.input-search{
		color: black;
	}

	.btn-search{
		background: $grey-medium;
		color: $grey-dark;
		width: 200px;
		border-radius: 0;
		border: 0;
		padding: 8px;
		margin: 0 20px;
	}
}